<div class="container">
    <center>
        <img id="burger_image" src="/assets/img/burger.png">
        <h1>Eat-da-burger!</h1>
        <div class="row">
    </center>
    <div class="container">
        <div id="firstCol" class="col-sm-6">
            <ul>
                <h3>
                    Menu
                </h3>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div id="secondCol" class="col-sm-6">
            <ul>
                <h3>
                    Devoured Burgers
                </h3>
                {{#each burgers}}
                {{#if devoured}}
                <li class="devouredList"><i class="fas fa-utensils"></i> {{burger_name}}</li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <center>
        <form class="createForm">
            <input type="text" id="burgerName" name="name">
        </form>
        <button type="submit" id="newBurgerSubmit">Submit</button>
        <p>Enter a burger you want to eat by clicking the submit button above.</p>
    </center>
</div>
</div>