body{
    background: #ffd16e;
}

#firstCol #secondCol{
  text-align: left;
  float: left;
}

/* #firstCol {
  float: left;
} */


#burger_image{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-family: 'Barriecito', cursive;
    font-size: 40px;
    color: orangered;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: orangered;
}
li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: #ffd16e;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  #burgerName{
      width: 30%;
      padding: 3%;
  }

  button{
      margin-top: 1%;
      width: 5%;
      height: 30px;
      border-radius: 6%;
      background: orangered;
      color: white;
  }

  button:hover{
    margin-top: 1%;
    width: 5%;
    height: 30px;
    border-radius: 6%;
    background: orange;
    color: orangered;
    font-weight: bold;
  }
  .change-devour{

  }

  ul{
    list-style-type: none;
  }
